/* general */
html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #53545B;
    font-size: 14px;
}

body {
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #444;
    font-weight: normal;
}

a, a:hover {
    color: #f6a202;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.break {   
    word-break: break-all;
}

.timeline-arrow i {
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    z-index: 10;
    background: none 0px 0px repeat scroll #fff;
    
}

.arrow-left i {
    border-left: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    left: 8px;
    top: 90px;
}
.arrow-right i {
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    right: 8px;
    top: 40px;
}

.dot {
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f6a202;
}

.dot-left {
    top: 93px;
    left: 0px;
    margin-left: -4px;
}
.dot-right {
    top: 43px;
    right: 0px;
    margin-right: -4px;
}

.timeline-bar {
    content: '';
    width: 4px;
    opacity: 0.2;
    margin-left: -2px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    background-color: #f6a202;
}

.row.relative {
    position: relative;
}

.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/* button back to top */
div#btn-up {
    width: 45px;
    height: 45px;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    text-align: center;
    z-index: 9999;
    background-color: #fff;
    font-size: 20px;
    line-height: 45px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    box-shadow: 1px 1px 12px #333;
    filter: alpha(opacity=0.7);
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7);
}

div:hover#btn-up {
	cursor: pointer;
	color: #000;
	filter: alpha(opacity=1);
    opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
}

/* header */
header.sticky {
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: rgba(1, 1, 1, 0.4);
    font-family: 'Open Sans', sans-serif;
}

header.sticky .navbar {
    padding-left: 20px;
    border: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
header.sticky .navbar-inverse .navbar-nav > li > a:hover,
header.sticky .navbar-inverse .navbar-nav > .active > a, 
header.sticky .navbar-inverse .navbar-nav > .active > a:hover, 
header.sticky .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #f6a202;
}

.navbar-inverse .navbar-nav > li > a:hover {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

header.sticky .navbar-inverse .navbar-nav > li > a, 
header.sticky .navbar-brand {
    color: #777;
    -webkit-transition: all 350ms linear;
    -moz-transition: all 350ms linear;
    -ms-transition: all 350ms linear;
    -o-transition: all 350ms linear;
    transition: all 350ms linear;
}

header.sticky .navbar-brand {
    padding: 0;
}
header.sticky .navbar-inverse .navbar-nav > li > a,
header.sticky .navbar-brand {
    padding: 15px;
    font-size: 14px;
}

.navbar {
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color: #DEDEDE;
}
.navbar-inverse {
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid rgba(235,235,235,0.5);
}
.navbar-inverse .navbar-nav > li > a ,
.navbar-inverse .navbar-brand {
    color: #DEDEDE;
    padding: 25px;
}

header.sticky .navbar-inverse .navbar-brand:focus, 
header.sticky .navbar-inverse .navbar-brand:hover {
    color: #DEDEDE;
}
/* End header */
/* content */

div.content {
    padding-top: 270px;
    background: url('../img/nyc2.jpg') top no-repeat ;
    background-size: contain;
}
.container {
    width: 100%;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.date {
    color:  #f6a202;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.panel, .panel-footer {
    border-radius: 0;
}

.panel-body {
    padding: 30px;
}

.panel {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
/* ABOUT */
section#about .panel {
    border: 0;
}

section#about .panel-footer {
    background-color: #f6a202;
    color: #fff;
}
section#about .panel-footer a.links {
    color: #fff;
    display: inline-block;
    margin-left: 15px;
}
section#about .panel-footer a.links i{
    display: none;
}
section#about .panel-footer a.links span{
    display: inline;
}

section#about .panel-footer {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
section#about ul.profile-infos li {
    margin-bottom: 13px;
}

section#about ul.profile-infos .title {
    display: block;
    width: 120px;
    float: left;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

section#about ul.profile-infos .text {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
section#about ul.profile-infos .text a {
    color: #9da0a7;
}
section#about ul.profile-infos .text a:hover {
    color: #f6a202;
    text-decoration: none;
}

/*SKILLS*/
section#skills h5{
    text-align: left;
    font-weight: 800;
    color: #f6a202;
}
section#skills h4{
    font-weight: 800;
    text-transform: uppercase;
}

/*EXPERIENCE AND EDUCATION*/
section#experience .panel,
section#education .panel {
    border-bottom: 5px solid #f6a202;
}
/*EDUCATION*/
section#education .panel-body {
    height: 200px;
    line-height: 200px;
    padding: 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
section#education .panel-body .education {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}


/* end content */
/* footer */

footer {
    background-color: #222;
    color: #fff;
}

footer h3 {
    color: #fff;
}

footer .container {
    color: #efefef;
    font-size: 15px;
    padding: 40px;
}

footer .container .row > div {
    margin-top: 20px;
}

footer ul.social li {
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

footer ul.social li a {
    border: 1px solid #d0d0d0;
    border-radius: 44px;
    color: #fff;
    font-size: 20px;
    height: 44px;
    width: 44px;
    position: relative;
    display: inline-block;
}

footer ul.social li a i {
    color: #fff;
    height: 100%;
    left: 0;
    line-height: 42px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 10;
}

footer ul.social li a span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

footer ul.social li a:hover span {
    border-radius: 44px;
    width: 44px;
    height: 44px;
    top: -1px;
    left: -1px;
    right: 0;
    bottom: 0;
}

footer ul.contact{
    display: inline-block;
}

footer ul.contact li i {
    display: inline-block;
    font-size: 18px;
    margin-left: -30px;
    vertical-align: middle;
    width: 30px;
}

footer ul.contact li {
    text-align: left;
    display: block;
    margin-left: 40px;
    font-size: 14px;
    margin-bottom: 10px;
}

footer ul.contact li a {    
    word-break: break-all;
    color: #fff;
}

footer ul.social li.link-linkedin a:hover span {
    background-color: #3b5998;  
    border: 1px solid #3b5998;
} 

footer ul.social li.link-github a:hover span {
    background-color: #3f729b;  
    border: 1px solid #3f729b;
}

footer ul.social li.link-angellist a:hover span {
    background-color: #55acee;  
    border: 1px solid #55acee;
}

footer ul.social li.link-calendar a:hover span {
    background-color: #19a28d;  
    border: 1px solid #19a28d;
}

footer .separator {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

footer .tooltip-inner {
    background-color: #555;
    color: white;
    font-weight: bold;
}
footer .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #555;
}

/* small devices */
@media (max-width: 795px) {
    .navbar-inverse .navbar-nav > li > a, 
    .navbar-inverse .navbar-brand {
        padding: 18px;
    }
}
@media (max-width: 768px) {

    .timeline-arrow i,
    .dot {
        display: none;
    }

    .navbar-inverse .navbar-brand {
        padding: 15px;
    }

    header.sticky .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #777;
    }

    header.sticky .navbar-inverse .navbar-toggle {
        border-color: #777;
    }

    header.sticky .navbar-inverse .navbar-toggle:focus,
    header.sticky .navbar-inverse .navbar-toggle:hover {
        background-color: #ddd;
    }

    div.content {
        padding-top: 100px;
    }

    .thumbnail>img {
        max-width: 50%;
    }

    section#about .panel-footer a.links i{
        display: inline-block;
        font-size: 18px;
    }
    section#about .panel-footer a.links span{
        display: none;
    }

    section#projects .thumbnail>img {
        max-width: 90%;
    }
}
